* {
	position: absolute;
}

main {
	left: 300px;
}

main * {
	opacity: 0;
}

#container-opening {
	background-color: rgb(51,139, 133);
	border-radius: 100%;
	height: 50px;
	left: 125px;
	top: 20px;
	width: 300px;
	z-index: 1;
}

#container-neck {
	background-color: rgb(43, 58, 70);
	height: 80px;
	left: 125px;
	top: 45px;
	width: 300px;
}

#container-body {
	background-color: rgb(43, 58, 70);
	border-radius: 250px 250px 100px 100px;
	height: 700px;
	top: 80px;
	width: 550px;
	z-index: -2;
}

#pebbles {
	display: flex;
	flex-wrap: wrap-reverse;
	height: 80px;
	left: 55px;
	top: 680px;
	width: 480px;
}

#pebbles * {
	margin: 1px;
	position: relative;
	background-color: rgb(252, 253, 255);
	border-radius: 22px 28px 23px 17px;
	height: 20px;
	width: 31px;
}

#pebbles :nth-child(3n) {
	background-color: rgb(252, 184, 50);
	border-radius: 25px 22px 30px 21px;
	height: 23px;
	width: 31px;
}

#pebbles :nth-child(3n+2) {
	background-color: rgb(233, 225, 196);
	border-radius: 20px 30px 22px 18px;
	height: 24px;
	width: 33px;
}

#pebbles :nth-child(4n+4) {
	background-color: rgb(205, 209, 203);
	border-radius: 40px 30px 10px 15px;
	height: 31px;
	width: 34px;
}

#pebbles :nth-child(9n) {
	background-color: rgb(236, 149, 158);
	border-radius: 25px 30px 20px 19px;
	height: 21px;
	width: 34px;
}

#pebbles :nth-child(5n) {
	height: 15px;
}

#pebbles :nth-child(2n+4) {
	transform: rotate(30deg);
}

#pebbles :nth-child(3n+1) {
	transform: rotate(-10deg);
}

#pebbles :nth-child(27) {
	background-color: rgb(43, 58, 70);
	height: 5px;
	width: 340px;
}

#pebbles :nth-child(32) {
	background-color: rgb(43, 58, 70);
	height: 5px;
	transform: rotate(0deg);
	width: 350px;
}

#pebbles :nth-child(33), #pebbles :nth-child(34), #pebbles :nth-child(35) {
	left: 25px;
}

#pebbles :nth-child(35) {
	transform: rotate(45deg);
}

#pebbles :nth-child(29), #pebbles :nth-child(33) {
	top: 15px;
}

#ground {
	background-color: rgb(235, 235, 115);
	border-radius: 20% 50% 110% 15%;
	height: 160px;
	left: 20px;
	top: 530px;
	width: 510px;
}

.flower div {
	background-color: rgb(255, 128, 37);
	border-radius: 100%;
	height: 29%;
	width: 11%;
}

.flower div:nth-of-type(1) {
	left: 20%;
	transform: rotate(-10deg);
}

.flower div:nth-of-type(2) {
	left: 35%;
	top: 8%;
	transform: rotate(50deg);
}

.flower div:nth-of-type(3) {
	left: 35%;
	top: 25%;
	transform: rotate(130deg);
}

.flower div:nth-of-type(4) {
	left: 15%;
	top: 25%;
	transform: rotate(210deg);
}

.flower div:nth-of-type(5) {
	left: 8%;
	top: 10%;
	transform: rotate(280deg);
}

.flower div:nth-of-type(6) {
	background-color: rgb(235, 235, 115);
	height: 5%;
	left: 25%;
	top: 25%;
	width: 5%;
}

#flower1 {
	left: 65px;
	top: 590px;
	transform: rotate(-12deg);
	height: 150px;
	width: 150px;
}

#flower2 {
	left: 140px;
	transform: rotate(18deg);
	top: 610px;
	height: 150px;
	width: 150px;
}

#flower3 {
	left: 25px;
	top: 570px;
	transform: rotate(15deg);
	height: 75px;
	width: 75px;
}

#flower4 {
	left: 360px;
	top: 610px;
	transform: rotate(-5deg);
	height: 80px;
	width: 80px;
}

#flower5 {
	left: 400px;
	top: 610px;
	transform: rotate(15deg);
	height: 75px;
	width: 75px;
}

#tree * {
	background-color: rgb(214, 223, 232);
}

#tree :nth-child(1) {
	height: 350px;
	left: 140px;
	top: 220px;
	width: 35px;
}

#tree :nth-child(2), #tree :nth-child(5) {
	height: 70px;
	top: 225px;
	width: 12px;
}

#tree :nth-child(3), #tree :nth-child(6) {
	height: 77px;
	top: 275px;
	width: 16px;
}

#tree :nth-child(4), #tree :nth-child(7) {
	height: 82px;
	top: 325px;
	width: 19px;
}

#tree :nth-child(2), #tree :nth-child(3), #tree :nth-child(4) {
	left: 120px;
	transform: rotate(-35deg);
}

#tree :nth-child(5), #tree :nth-child(6), #tree :nth-child(7) {
	left: 180px;
	transform: rotate(35deg);
}

#leaves {
	background-color: rgb(37, 139, 139);
	border-radius: 70%;
	height: 300px;
	left: 70px;
	top: 145px;
	width: 180px;
}

#boy {
	left: 260px;
	top: 460px;
}

#boy #face, #boy #l-ear, #boy #r-ear, #boy #neck, #boy #l-hand, #boy #r-hand {
	border-radius: 100%;
	background-color: rgb(247, 193, 193);
}

#boy #face {
	height: 45px;
	left: 2px;
	width: 52px;
}

#boy #neck {
	height: 10px;
	left: 22px;
	top: 38px;
	width: 10px;
	z-index: 1;
}

#boy #l-ear {
	height: 12px;
	top: 10px;
	transform: rotate(20deg);
	width: 10px;
}

#boy #r-ear {
	height: 15px;
	left: 50px;
	top: 18px;
	transform: rotate(23deg);
	width: 12px;
}

#boy #hair {
	align-content: space-around;
	background-color: rgb(255, 128, 37);
	border-radius: 120px 120px 10px 10px;
	display: flex;
	height: 23px;
	left: 3px;
	top: -9px;
	transform: rotate(6deg);
	width: 52px;
}

#boy #hair * {
	background-color: rgb(255, 128, 37);
	border-radius: 100%;
	height: 20px;
	position: relative;
	top: 10px;
	width: 20px;
}

#boy #l-eye, #boy #r-eye {
	border-bottom: solid black 2px;
	border-radius: 100%;
	height: 5px;
	transform: rotate(5deg);
	width: 10px;
}

#boy #l-eye {
	left: 10px;
	top: 18px;
}

#boy #r-eye {
	left: 30px;
	top: 20px;
}

#boy #nose {
	background-color: black;
	left: 25px;
	height: 8px;
	top: 27px;
	transform: rotate(7deg);
	width: 2px;
}

#boy #mouth {
	border-bottom: solid 2px red;
	border-radius: 100%;
	height: 5px;
	left: 20px;
	top: 33px;
	width: 10px;
	z-index: 2;
}

#boy #torso, #boy #legs, #boy #l-arm, #boy #r-arm, #boy #l-leg, #boy #r-leg {
	background-color: rgb(37, 139, 139);
}

#boy #torso {
	height: 50px;
	left: 15px;
	top: 38px;
	width: 24px;
	z-index: -1;
}

#boy #legs {
	border-radius: 10px;
	height: 36px;
	left: 10px;
	top: 65px;
	transform: rotate(-45deg);
	width: 37px;
}

#boy #l-leg {
	border-radius: 20px;
	height: 16px;
	left: 25px;
	top: 60px;
	transform: rotate(-35deg);
	width: 35px;
}

#boy #r-leg {
	border-radius: 20px;
	height: 16px;
	left: 25px;
	top: 77px;
	transform: rotate(-30deg);
	width: 48px;
}

#boy #l-arm {
	border-radius: 20px 0 0 20px;
	height: 12px;
	left: -8px;
	top: 50px;
	transform: rotate(-50deg);
	width: 35px;
	z-index: -1;
}

#boy #r-arm {
	border-radius: 20px 0 0 20px;
	height: 12px;
	left: 28px;
	top: 50px;
	transform: rotate(55deg);
	width: 35px;
	z-index: -1;
}

#boy #l-hand { 
	border-radius: 0 0 100% 100%;
	left: -5px;
	height: 10px;
	top: 65px;
	transform: rotate(30deg);
	width: 10px;
}

#boy #r-hand { 
	border-radius: 0 0 100% 100%;
	left: 48px;
	height: 10px;
	top: 65px;
	transform: rotate(-30deg);
	width: 10px;
}

#mom {
	left: 320px;
	top: 420px;
}

#mom #face, #mom #neck, #mom #l-leg, #mom #r-leg, #mom #l-arm, #mom #r-arm {
	border-radius: 100%;
	background-color: rgb(247, 193, 193);
}

#mom #l-hair {
	background-color: rgb(37, 139, 139);
	border-radius: 100%;
	height: 58px;
	left: -8px;
	top: -10px;
	width: 65px;
	z-index: -1;
}

#mom #top-hair {
	background-color: rgb(37, 139, 139);
	border-radius: 100%;
	height: 52px;
	left: 23px;
	top: -21px;
	transform: rotate(-65deg);
	width: 23px;
}

#mom #r-hair {
	background-color: rgb(37, 139, 139);
	border-radius: 100%;
	height: 45px;
	left: 41px;
	transform: rotate(-10deg);
	width: 20px;
}

#mom #face {
	height: 50px;
	left: 2px;
	width: 55px;
}

#mom #neck {
	height: 10px;
	left: 23px;
	top: 45px;
	width: 10px;
	z-index: 1;
}

#mom #l-eye, #mom #r-eye {
	border-bottom: solid black 2px;
	border-radius: 100%;
	height: 5px;
	transform: rotate(5deg);
	width: 10px;
}

#mom #l-eye {
	left: 10px;
	top: 18px;
}

#mom #r-eye {
	left: 30px;
	top: 20px;
}

#mom #nose {
	background-color: black;
	left: 23px;
	height: 8px;
	top: 27px;
	transform: rotate(9deg);
	width: 2px;
}

#mom #mouth {
	border-bottom: solid 2px red;
	border-radius: 100%;
	height: 5px;
	left: 20px;
	top: 33px;
	width: 10px;
	z-index: 2;
}

#mom #top-torso, #mom #bottom-torso {
	background-color: rgb(214, 223, 232);
}

#mom #top-torso {
	border-radius: 5px 15px 0 50px;
	height: 65px;
	left: 18px;
	top: 54px;
	width: 25px;
	z-index: -1;
}

#mom #bottom-torso {
	border-radius: 0 0 0 50px;
	height: 35px;
	left: 15px;
	top: 95px;
	transform: rotate(25deg);
	width: 70px;
	z-index: 1;
}

#mom #l-leg {
	border-radius: 20px;
	height: 15px;
	left: 65px;
	top: 124px;
	transform: rotate(-6deg);
	width: 48px;
}

#mom #r-leg {
	border-radius: 20px;
	height: 15px;
	left: 65px;
	top: 112px;
	transform: rotate(-5deg);
	width: 48px;
}

#mom #l-arm {
	border-radius: 10px 10px 20px 20px;
	height: 105px;
	left: 2px;
	top: 52px;
	transform: rotate(20deg);
	width: 12px;
	z-index: -2;
}

#mom #r-arm {
	border-radius: 10px 10px 20px 20px;
	height: 95px;
	left: 27px;
	top: 54px;
	transform: rotate(7deg);
	width: 12px;
	z-index: 2;
}

#book {
	left: 55px;
	top: -25px;
	transform: rotate(5deg);
}

#border {
	background-color: rgb(37, 139, 139);
	height: 45px;
	left: 240px;
	top: 570px;
	width: 96px;
}

#main-pages {
	background-color: white;
	height: 40px;
	left: 247px;
	top: 570px;
	width: 85px;
}

#book-images {
	align-content: space-around;
	display: flex;
	flex-wrap: wrap;
	height: 30px;
	width: 80px;
}

#book-images div {
	background-color: blue;
	height: 6px;
	left: 2px;
	margin: 3.3px;
	position: relative;
	width: 13px;
}

#book-images div:nth-of-type(2n) {
	background-color: rgb(89, 132, 74);
}

#book-images div:nth-of-type(3n) {
	background-color: pink;
}

#book-images div:nth-of-type(4n) {
	background-color: rgb(195, 109, 60);
}

#l-pages {
	background-color: rgb(37, 139, 139);
	border-radius: 0 100% 0 0;
	height: 9px;
	left: 240px;
	top: 602px;
	width: 47px;
}

#r-pages {
	background-color: rgb(37, 139, 139);
	border-radius: 100% 0 0 0;
	height: 8px;
	left: 288px;
	top: 603px;
	width: 47px;
}

#crease {
	background-color: lightgray;
	height: 30px;
	left: 40.4px;
	top: 5px;
	width: 1px;
}

.r-plant {
	left: 410px;
	top: 200px;
}

.l-plant {
	left: 437px;
	top: 215px;
}

.plant .leaves {
	display: flex;
	width: 80px;
}

.leaves * {
	border-radius: 100%;
	height: 13px;
	position: relative;
	width: 35px;
}

.left-side, .right-side {
	align-content: space-around;
	display: flex;
	flex-wrap: wrap;
	height: 270px;
	width: 50px;
}

.left-side * {
	transform: rotate(25deg);
}

.right-side * {
	transform: rotate(-25deg);
}

.r-plant .left-side *, .r-plant .right-side *, .r-plant .stalk * {
	background-color: rgb(37, 139, 139);
}

.l-plant .left-side *, .l-plant .right-side *, .l-plant .stalk * {
	background-color: rgb(255, 128, 37);
}

.r-plant .stalk {
	height: 400px;
	width: 10px;
}

.r-plant .stalk .top {
	height: 35px;
	width: 13px;
	top: -20px;
	transform: rotate(5deg);
}

.r-plant .stalk .base {
	height: 370px;
	top: -25px;
	width: 10px;
}

.l-plant .stalk {
	height: 400px;
	width: 10px;
}

.l-plant .stalk .top {
	height: 35px;
	width: 13px;
	top: -20px;
	transform: rotate(5deg);
}

.l-plant .stalk .base {
	height: 350px;
	top: -25px;
	width: 10px;
}

.round-plant {
	left: 20px;
	top: 460px;
}

.bulb {
	background-color: rgb(235, 235, 115);
	border-radius: 100%;
	height: 25px;
	width: 25px;
}

.stem {
	background-color: rgb(235, 235, 115);
	height: 80px;
	left: 15px;
	top: 10px;
	transform: rotate(-8deg);
	width: 5px;
}

.plant2 {
	left: 30px;
	top: 320px;
}

.plant2 .stem {
	height: 220px;
}

.plant2 .bulb {
	left: -10px;
}

.plant3 {
	left: 50px;
	top: 380px;
}

.plant3 .stem {
	height: 170px;
	transform: rotate(-4deg);
	width: 3px;
}

.plant3 .bulb {
	left: 2px;
	height: 20px;
	width: 20px;
}

.plant4 {
	left: 70px;
	top: 440px;
}

.plant4 .stem {
	height: 80px;
	transform: rotate(2deg);
	width: 4px;
}

.plant4 .bulb {
	left: 8px;
}

#moon {
	background-color: rgb(235, 235, 115);
	border-radius: 100%;
	height: 80px;
	left: 300px;
	top: 200px;
	width: 80px;
}

#moon-shadow {
	background-color: rgb(43, 58, 70);
	border-radius: 100%;
	height: 70px;
	left: 280px;
	top: 210px;
	width: 70px;
}

.showme {
	transition: 500ms ease;
	opacity: 1;
}